<footer>
  <p>
    &copy; 2020 Riot games, inc, riot games, <span>valorant</span>, and any
    associated logos are trademarks, service marks, and/or registered trademarks
    of riot games, inc.
  </p>
</footer>
