<section class="body-404">
  <div class="error-container">
    <div class="content">
      <h1>404</h1>
      <p>Looks like you missed your shot, Agent.</p>
      <a href="/" class="btn">Back to Base</a>
    </div>
  </div>

  <script src="./scripts/404.js"></script>
</section>
