<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valorant</title>
  </head>
  <body>
    <main class="agentsMainColumn">
      <div class="agentsMainText">
        <h2>// Check the headcount</h2>
        <p>
          Find more ways to plant the Spike and style on your enemies with
          scrappers, strategists, and hunters of every description.
        </p>
      </div>
      <div class="agentsImages">
        <img src="images/jett.png" alt="Image of Jett" />
        <img src="images/viper.png" alt="Image of Viper" />
        <img src="images/cypher.png" alt="Image of Cypher" />
        <img src="images/omen.png" alt="Image of Omen" />
        <img src="images/brimstone.png" alt="Image of Brimstone" />
        <img src="images/phoenix.png" alt="Image of Phoenix" />
        <img src="images/sage.png" alt="Image of Sage" />
        <img src="images/sova.png" alt="Image of Sova" />
      </div>
    </main>
  </body>
</html>
